/.devcontainer
/.dist
/.hintrc
/.vscode
/code.code-workspace
/Code2023.code-workspace
/custom cursor
/Image-Caption-Generator
/ivy
/nav-menu
/node_modules
/package-lock.json
/package.json
/Portfolio1
/python
/rufevean.github.io
/sass tut
/temp
/Test.js